body {
    margin:0;
    padding:0;
    display:flex;
}


.container {
    display:flex;
    flex-direction:column;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#1F2937

}

.logo{
    font-size:24px;
    color:#F9FAF8;
    
}

.links{
    font-size:18px;
    color:#E5E7EB;
    display:flex;
}

a:link {
    text-decoration:none;
}

ul {
    list-style-type:none;
    display:flex;
    gap: 15px
}

a:visited {
    color:blue
}

a:active {
    color:red
}

.main {
    background-color:#1F2937;
    color:#E5E7EB;
    display:flex;
    justify-content: space-between;
    flex:1;
}

.main, .navbar, .head-container {
    padding-left:100px;
    padding-right:100px;
}

.description {
    font-size:48px;
}

.paragraph{
    font-size:18px;
    color:#E5E7EB;
}

.sign-up{
    background-color:#3882F6;
    border-radius:16px;
    
}

.hell {
    height:350px;
    width:500px;
    display:flex;
    flex-shrink:1;
}
.head-container{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    font-size:36px;
    align-items: center;
}
.hero-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    
    
}
.text-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:15px;
    
}

.hero{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:15px;
    font-size:18px;
    width:158px;
    
}
.box{
    height:150px;
    width:150px;
    border:4px solid #3882F6;
    border-radius:15px;

}

.quote-container {
    background-color:#E5E7EB;
    padding-top:10px;
    display:flex;
    align-items:center;
    padding:5%;
    flex-direction:column;
}


.quote {
    font-size:36px;
    font-style:italic;
}
.author {
    font-style:normal;
    margin-left:60%
}
.sign-up-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.sign-text{

}

.buttons{
    display:flex;
    justify-content: center;
    align-items:center;
}
